.content{
  background-color: deepskyblue;
}
form{
    margin: auto;
    background-color:ghostwhite;
    background-image: url();
}
#myform{
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0 20px 20px black;
} 
h2{
  text-align: center;

}
.container{
    padding: 40px;
    margin: auto;
    max-width: 100%;
    background-color:dodgerblue;
}
.form-group{
    padding-left: 50px;
    padding-right: 50px;
}
input:hover{
    background-color: rgb(232, 241, 252);
    cursor: pointer;
}
button{
    margin-bottom: 25px;
}
